<div class="content">
  <div class="content__search-bar" fxLayoutAlign="center">
    <input type="search" placeholder="Search movies..." class="search" (keyup)="onKey($event)">
  </div>
    <div class="card" fxLayout="row wrap " fxLayoutAlign="center" fxLayoutGap="16px grid"  > 
      <div fxFlex="19%" *ngFor="let movie of movies$;trackBy:movieById"
        fxFlex.xs="100%"
        fxFlex.sm="33%">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{movie.title }}</mat-card-title>
          </mat-card-header>
           <img  src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" [alt]="movie.title">
            <div class="rate"><i class="material-icons">star</i><span>{{movie.vote_average}} / 10</span></div>
            <div class="year">{{movie.release_date | date: 'yyyy'}}</div>
        </mat-card>
        </div>
    </div>
  </div>
  <mat-paginator #paginator [length]="total$" [pageSize]="20"  (page)="changePage($event)"></mat-paginator>