<div class="content">
    <div class="card" fxLayout="row wrap " fxLayoutAlign="center" fxLayoutGap="16px grid"  > 
      <div fxFlex="19%" *ngFor="let serieTv of seriesTv$;trackBy:serieTvById"
        fxFlex.xs="100%"
        fxFlex.sm="33%">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{serieTv.name }}</mat-card-title>
          </mat-card-header>
           <img  src="http://image.tmdb.org/t/p/w500/{{serieTv.poster_path}}" [alt]="serieTv.name">
            <div class="rate"><i class="material-icons">star</i><span>{{serieTv.vote_average}} / 10</span></div>
            <div class="year">{{serieTv.first_air_date | date: 'yyyy'}}</div>
        </mat-card>
        </div>
    </div>
  </div>